<html>
<head>
  <link href="/static/css/material.css" rel="stylesheet" media="screen">
  <link href="/static/css/material.min.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/static/js/material.min.js"></script>
  <script src="/static/js/material.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<body>
  <style>
  .login-card.mdl-card {
  	width: 320px;
  	height: 320px;
  	left: 100px;
  	position: absolute;
  	border: 3px;
  }
  .login-card > .mdl-card__title {
  	color: #fff;
  	background-color: #000;
  }
  </style>
  {% extends "layout.html" %}
  {% block body %}

  <div class="login-card mdl-card">
  	<div class= "mdl-card__title mdl-card--border">
  		<h2 class="mdl-card__title-text">Etheroll User Login</h2>
  	</div>
  	<div class="mdl-card__actions mdl-card--border">
      {% if error %}
      <span class="mdl-textfield__error">{{error}}</span>
			{% endif %}
  		<form method="post" action="{{url_for('connect')}}">
  			<div class="mdl-textfield mdl-js-textfield">
  				<input class="mdl-textfield__input" type="text" id="userhash" name="name">
    				<label class="mdl-textfield__label" for="userhash">Username</label>
          </input>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" id="userhash" name="password" type="password">
            <label class="mdl-textfield__label" for="password">Password</label>
          </input>
  			</div>
        <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Login
        </button>
  		</form>

  	</div>

    {% endblock %}


  </div>


</body>
</html>
